backend/backend/tokens.env
backend/.idea
client/.idea
client/target
backend/backend/obj
backend/backend/bin
backend/backend/bin/Debug/net8.0/backend.dll
backend/backend/bin/Debug/net8.0/backend.pdb
backend/backend/obj/backend.csproj.nuget.dgspec.json
backend/backend/obj/project.assets.json
backend/backend/obj/project.nuget.cache
backend/backend/obj/project.packagespec.json
backend/backend/obj/rider.project.model.nuget.info
backend/backend/obj/rider.project.restore.info
backend/backend/obj/Debug/net8.0/backend.AssemblyInfo.cs
backend/backend/obj/Debug/net8.0/backend.AssemblyInfoInputs.cache
backend/backend/obj/Debug/net8.0/backend.assets.cache
backend/backend/obj/Debug/net8.0/backend.csproj.FileListAbsolute.txt
backend/backend/obj/Debug/net8.0/backend.dll
backend/backend/obj/Debug/net8.0/backend.GeneratedMSBuildEditorConfig.editorconfig
backend/backend/obj/Debug/net8.0/backend.genruntimeconfig.cache
backend/backend/obj/Debug/net8.0/backend.pdb
backend/backend/obj/Debug/net8.0/backend.sourcelink.json
backend/backend/obj/Debug/net8.0/ref/backend.dll
backend/backend/obj/Debug/net8.0/refint/backend.dll
